.header{
    height: 34vw;
    margin: 10px auto;
    background-size:cover;
    position: relative;
    border-radius: 50px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 rgba(255, 255, 0, 0.1);
    transition: all 0.35s ease;
   
}
.header:hover{
    box-shadow: none;
    transform: translateY(5px);
      box-shadow: 0 4px 8px 0px rgba(255, 153, 0, 0.414), 0 0 rgba(255, 255, 86, 0.713);
}

.header .header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%; 
    left: 6vw;
    animation: fadeIn 3s;
 
}

.header-contents h1{
      color: white;
      font-weight: 500px;
      font-size:max(4.5vw,22px);
      color: var(--font);
}

.header-contents p{
    color: white;
    font-size: 1.2vw;
    line-height: 1.4;
       color: var(--font);
    background-color: rgb(0, 0, 0,);
}

.header-contents button{
    padding: 10px 30px;
    font-weight: 500;
    background: transparent;
    border: 2px solid var(--button-border-color);
    border-radius: 50px;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--button-hover-color);
}
.header-contents button:hover{
    background-color:transparent;
    color: rgb(255, 255, 255);
}
