/* Footer styling */
.footer {
  background-color: var(--footer); /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  text-align: center; /* Center-align the text */
  padding: 20px 0; /* Padding for top and bottom */
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff; /* Text color for links */
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline; /* Underline links on hover */
}
